<%= bootstrap_nested_form_for @expense_sub_category, :html => { :class => "form-horizontal expense_sub_category" } do |f| %>

    <% if @expense_sub_category.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@expense_sub_category.errors.count, "error") %> prohibited this expense_sub_category from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @expense_sub_category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.text_field :name %>
  <%= f.fields_for :expense_category_expense_sub_category do |b| %>
    <% selected = @expense_sub_category.expense_categories.map(&:id) %>
      <%= b.collection_select(:expense_category_id, @expense_categories, :id, :name, { include_blank: false, label: 'Parent Income Category', selected: selected}, {multiple: true}) %> 
  <% end %>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            expense_sub_categories_path, :class => 'btn btn-default' %>

<% end %>
