<%- model_class = Institute -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name('common_data.name') %></th>
      <th><%= model_class.human_attribute_name('common_data.contact_person') %></th>
      <th><%= model_class.human_attribute_name('common_data.center_type.name') %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @institutes.each do |institute| %>
      <tr>
        <td><%= link_to institute.common_data.name, institute_path(institute) %></td>
        <td><%= institute.common_data.contact_person %></td>
        <td><%= institute.common_data.center_type.name %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_institute_path(institute), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      institute_path(institute),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_institute_path,
            :class => 'btn btn-primary' %>
