<%= bootstrap_form_for(@business_category) do |f| %>
  <% if @business_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_category.errors.count, "error") %> prohibited this business_category from being saved:</h2>

      <ul>
      <% @business_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name %>
  <%= f.collection_select(:business_centerable_id, cost_centers, :value, :name, {prompt: true, label: 'Business Center'}) %>
  <%#= f.text_field :business_centerable_type %>
  <%#= f.number_field :business_centerable_id %>
  <%= f.submit nil, :class => 'btn btn-primary' %>
<% end %>
