<%- model_class = BusinessCategory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @business_category.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:business_centerable_type) %>:</strong></dt>
  <dd><%= @business_category.business_centerable_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:business_centerable_id) %>:</strong></dt>
  <dd><%= @business_category.business_centerable_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              business_categories_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_business_category_path(@business_category), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              business_category_path(@business_category),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
