<%= bootstrap_nested_form_for [@medicine, @stock], :html => { :class => "form-horizontal stock" } do |f| %>

    <% if @stock.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @stock.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if @stock.cost_centerable.nil? %>
    <%= f.collection_select(:cost_centerable_id, cost_centers, :value, :name, {prompt: true, label: 'Business Center'}, id: 'cost-centerable-id') %>
  <% else %>
    <%= f.collection_select(:cost_centerable_id, cost_centers, :value, :name, {prompt: true, label: 'Business Center', selected: @stock.cost_centerable.value}, id: 'cost-centerable-id') %>
  <% end %>

  <% if @stock.business_category.nil? %>
    <%= f.collection_select(:business_category_id, {}, :id, :name, {prompt: true, label: 'Business Category'}, id: 'business-category-id') %>
  <% else %>
    <%= f.collection_select(:business_category_id, @stock.cost_centerable.business_categories, :id, :name, {prompt: true, label: 'Business Category', selected: @stock.business_category.id}, id: 'business-category-id') %>
  <% end %>
  
  <%= f.collection_select(:medicine_id, Medicine.all, :id, :name, {label: 'Medicine Name', :prompt => true}) %>
  <%= f.date_field :purchase_date, :value => Date.today %>
  <%= f.number_field :purchase_qty %>
  <%= f.text_area :purchase_details %>
  <%= f.number_field :purchase_price %>
  <%= f.date_field :expiry, :value => Date.today %>
  <%= f.number_field :present_stock %>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            medicines_path, :class => 'btn btn-default' %>

<% end %>
