<%= bootstrap_form_for @income, :html => { :class => "form-horizontal income" } do |f| %>

    <% if @income.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@income.errors.count, "error") %> prohibited this income from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @income.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if @income.cost_centerable.nil? %>
    <%= f.collection_select(:cost_centerable_id, cost_centers, :value, :name, {prompt: true, label: 'Business Center'}, id: 'cost-centerable-id') %>
  <% else %>
    <%= f.collection_select(:cost_centerable_id, cost_centers, :value, :name, {prompt: true, label: 'Business Center', selected: @income.cost_centerable.value}, id: 'cost-centerable-id') %>
  <% end %>

  <% if @income.business_category.nil? %>
    <%= f.collection_select(:business_category_id, {}, :id, :name, {prompt: true, label: 'Business Category'}, id: 'business-category-id') %>
  <% else %>
    <%= f.collection_select(:business_category_id, @income.cost_centerable.business_categories, :id, :name, {prompt: true, label: 'Business Category', selected: @income.business_category.id}, id: 'business-category-id') %>
  <% end %>

  <%= f.date_field :date, :value => Date.today %>

  <% if @income.income_category_id.nil? %>
    <%= f.collection_select(:income_category_id, IncomeCategory.all, :id, :name, {prompt: true}, id: 'income-category-id') %>
  <% else %>
    <%= f.collection_select(:income_category_id, IncomeCategory.all, :id, :name, {prompt: true}, id: 'income-category-id', selected: @income.income_category_id) %>
  <% end %>

  <% if @income.income_category_id.nil? %>
    <%= f.collection_select(:income_sub_category_id, [], :id, :name, {prompt: true}, id: 'income-sub-category-id') %>
  <% else %>
    <%= f.collection_select(:income_sub_category_id, @income.income_category.income_sub_categories, :id, :name, {prompt: true}, id: 'income-sub-category-id', selected: @income.income_sub_category_id) %>
<% end %>

  <%= f.collection_select(:income_type_id, IncomeType.all, :id, :name, {prompt: true}) %>
  <%= f.text_field :benefactor, placeholder: 'Benefactor Name', label: "Paid To" %>
  <%= f.text_field :unique_identifier, placeholder: 'Mobile Number as Unique Identifier', label: 'Mobile Number' %>
  <%= f.text_area :voucher_or_ref_details, placeholder: 'Voucher Details', label: 'Voucher or Reference Details' %>
  <%= f.number_field :amount, placeholder: 'Amount' %>
  <%= f.select(:bal_sheet_or_pl, [["Balance Sheet", "Balance Sheet"], ["Profit & Loss", "Profit & Loss"]], {include_blank: false, label: 'BS or P&L'}, selected: "Balance Sheet", class: 'balance-sheet-or-pl-select') %>
  <%= f.select(:bs_or_pl_category_id, options_for_select(BsOrPlCategory.all.map{ |c| [c.name, c.id, {'class' => c.get_name }]}), {label: 'BS or P&L Category'}, class: 'bs-or-pl-select') %>
  <%= f.select(:bs_or_pl_sub_category_id, options_for_select(BsOrPlSubCategory.all.map{ |c| [c.name, c.id, {'class' => c.bs_or_pl_category_id}]}), {label: 'BS or P&L Sub-Category'}, class: 'bs-or-pl-sub-category-select') %>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            incomes_path, :class => 'btn btn-default' %>

<% end %>
