<div><%= render partial: 'diseases_modal' %></div>
<%= bootstrap_nested_form_for [@patient, @patient_record], :html => { :class => "form-horizontal patient_record" } do |f| %>

  <% if @patient_record.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@patient_record.errors.count, "error") %> prohibited this patient_record from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @patient_record.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.date_field :visit_date_english, :value => Date.today %>
  <%= f.collection_select(:doctor_id, Doctor.all, :id, :name, {label: 'Attending Doctor', :prompt => true}) %>
  <%= f.select(:visit_day, [["Monday", "Monday"], ["Tueday", "Tueday"], ["Wednesday", "Wednesday"], ["Thursday", "Thursday"], ["Friday", "Friday"], ["Saturday", "Saturday"], ["Sunday", "Sunday"]]) %>
  <%= f.text_field :handling_person %>
  <%= f.hidden_field :patient_id, value: @patient.id %>
  <%= f.number_field :checked_weight %>
  <%= f.number_field :checked_height %>
  <%= f.number_field :checked_bp %>
  <%= f.number_field :no_of_children %>
  <%= f.number_field :youngest_child_age %>
  <%= f.text_field :lscs %>
  <%= f.text_field :diabetic_history %>
  <%= f.text_area :investigation_and_report %>
  <%= f.text_area :present_complaint %>
  <%= f.text_area :conducted_physical_examination %>

  <%= render partial: 'prescriptions', locals: { medicines: @medicines, f: f } %>

  <div class='diagnosed-associated-diseases'>
    <% if @patient.diagnosed_associated_diseases.any? %>
      <%= render partial: 'diagnosed_diseases', locals: { diseases: @patient.diagnosed_associated_diseases, header: 'Diagnosed Associated Diseases', val: 1 } %>
    <% end %>
  </div>

  <%= link_to add_associated_disease_form_patient_path(@patient), class: 'btn btn-success', remote: true do %>
    <i class="fa fa-plus-circle"> Add Associated Diseases</i>
  <% end %>
  
  </br></br>

  <div class='diagnosed-main-diseases'>
    <% if @patient.diagnosed_main_diseases.any? %>
      <%= render partial: 'diagnosed_diseases', locals: { diseases: @patient.diagnosed_main_diseases, header: 'Diagnosed Main Diseases', val: 2 } %>
    <% end %>
  </div>

  <%= link_to add_main_disease_form_patient_path(@patient), class: 'btn btn-success', remote: true do %>
    <i class="fa fa-plus-circle"> Add Main Diseases</i>
  <% end %>

  </br></br>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    patient_path(@patient), :class => 'btn btn-default' %>

<% end %>
