<%- model_class = PatientRecord -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:patient_id) %>:</strong></dt>
  <dd><%= @patient_record.patient_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:visit_date) %>:</strong></dt>
  <dd><%= @patient_record.visit_date_english %></dd>
  <dt><strong><%= model_class.human_attribute_name(:visit_day) %>:</strong></dt>
  <dd><%= @patient_record.visit_day %></dd>
  <dt><strong><%= model_class.human_attribute_name(:doctor_id) %>:</strong></dt>
  <dd><%= @patient_record.doctor.try(:name) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:handling_person) %>:</strong></dt>
  <dd><%= @patient_record.handling_person %></dd>
  <dt><strong><%= model_class.human_attribute_name(:checked_weight) %>:</strong></dt>
  <dd><%= @patient_record.checked_weight %></dd>
  <dt><strong><%= model_class.human_attribute_name(:checked_height) %>:</strong></dt>
  <dd><%= @patient_record.checked_height %></dd>
  <dt><strong><%= model_class.human_attribute_name(:checked_bp) %>:</strong></dt>
  <dd><%= @patient_record.checked_bp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:no_of_children) %>:</strong></dt>
  <dd><%= @patient_record.no_of_children %></dd>
  <dt><strong><%= model_class.human_attribute_name(:youngest_child_age) %>:</strong></dt>
  <dd><%= @patient_record.youngest_child_age %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lscs) %>:</strong></dt>
  <dd><%= @patient_record.lscs %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diabetic_history) %>:</strong></dt>
  <dd><%= @patient_record.diabetic_history %></dd>
  <dt><strong><%= model_class.human_attribute_name(:present_complaint) %>:</strong></dt>
  <dd><%= @patient_record.present_complaint %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conducted_physical_examination) %>:</strong></dt>
  <dd><%= @patient_record.conducted_physical_examination %></dd>
  <dt><strong><%= model_class.human_attribute_name(:investigation_and_report) %>:</strong></dt>
  <dd><%= @patient_record.investigation_and_report %></dd>
  <dt><strong><%= model_class.human_attribute_name(:additional_notes) %>:</strong></dt>
  <dd><%= @patient_record.additional_notes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cost_center) %>:</strong></dt>
  <dd><%= @patient_record.cost_centerable.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:prescriptions) %>:</strong></dt>
  <% @patient_record.prescriptions.each do |prescription| %>
    <dd><%= prescription.medicine.name %></dd>
    <dd><%= prescription.dosage %></dd>
    <dd><p><%= prescription.notes %></p></dd>
  <% end %>
</dl>
</br>

<%= link_to t('.back', :default => t("helpers.links.back")),
              patient_path(@patient), :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_patient_patient_record_path(@patient, @patient_record), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              patient_patient_record_path(@patient, @patient_record),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
