<%= bootstrap_form_for @expense, :html => { :class => "form-horizontal expense" } do |f| %>

    <% if @expense.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @expense.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if @expense.cost_centerable.nil? %>
    <%= f.collection_select(:cost_centerable_id, cost_centers, :value, :name, {prompt: true, label: 'Business Center'}, id: 'cost-centerable-id') %>
  <% else %>
    <%= f.collection_select(:cost_centerable_id, cost_centers, :value, :name, {prompt: true, label: 'Business Center', selected: @expense.cost_centerable.value}, id: 'cost-centerable-id') %>
  <% end %>

  <% if @expense.business_category.nil? %>
    <%= f.collection_select(:business_category_id, {}, :id, :name, {prompt: true, label: 'Business Category'}, id: 'business-category-id') %>
  <% else %>
    <%= f.collection_select(:business_category_id, @expense.cost_centerable.business_categories, :id, :name, {prompt: true, label: 'Business Category', selected: @expense.business_category.id}, id: 'business-category-id') %>
  <% end %>
  
  <%= f.date_field :date, :value => Date.today %>
  <%= f.collection_select(:expense_category_id, ExpenseCategory.all, :id, :name, {prompt: true}) %>
  <%= f.collection_select(:expense_sub_category_id, ExpenseSubCategory.all, :id, :name, {prompt: true}) %>
  <%= f.collection_select(:expense_type_id, ExpenseType.all, :id, :name, {prompt: true}) %>
  <%= f.text_field :receipient, placeholder: 'Receipient Name' %>
  <%= f.text_field :unique_identifier, placeholder: 'Unique Identifier' %>
  <%= f.text_area :voucher_or_ref_details, placeholder: 'Voucher Details', label: 'Voucher or Reference Details' %>
  <%= f.number_field :amount, placeholder: 'Amount' %>
  <%= f.select(:bal_sheet_or_pl, [["Balance Sheet", "Balance Sheet"], ["Profit & Loss", "Profit & Loss"]], {include_blank: false, label: 'BS or P&L'}, selected: "Balance Sheet", class: 'balance-sheet-or-pl-select') %>
  <%= f.select(:bs_or_pl_category_id, options_for_select(BsOrPlCategory.all.map{ |c| [c.name, c.id, {'class' => c.get_name }]}), {label: 'BS or P&L Category'}, class: 'bs-or-pl-select') %>
  <%= f.select(:bs_or_pl_sub_category_id, options_for_select(BsOrPlSubCategory.all.map{ |c| [c.name, c.id, {'class' => c.bs_or_pl_category_id}]}), {label: 'BS or P&L Sub-Category'}, class: 'bs-or-pl-sub-category-select') %>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            expenses_path, :class => 'btn btn-default' %>

<% end %>
