<%= form_for @stock_item, :html => { :class => "form-horizontal stock_item" } do |f| %>

    <% if @stock_item.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@stock_item.errors.count, "error") %> prohibited this stock_item from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @stock_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.text_field :name, placeholder: 'Name' %>
  <%= f.text_field :manufacturer, placeholder: 'Manufacturer Name' %>
  <%= f.text_field :cost_centerable_id %>
  <%= f.label :cost_centerable_type %>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            stock_items_path, :class => 'btn btn-default' %>

<% end %>
