<table class="table table-striped">
  <thead>
    <tr>
      <th><%= 'Receipient' %></th>
      <th><%= 'Date' %></th>
      <th><%= 'Expense Category' %></th>
      <th><%= 'Expense Subcategory' %></th>
      <th><%= 'Expense Type' %></th>
      <th><%= 'Amount' %></th>
      <th><%= 'Cost Center' %></th>
    </tr>
  </thead>
  <tbody>
    <% expenses.each do |expense| %>
      <tr>
        <td><%= link_to expense.receipient, fetch_report_path(report_type: 'expenses', cost_centerable: @cost_center.map(&:value), from: @from, to: @to, receipient: expense.receipient) %></td>
        <td><%= expense.date %></td>
        <td><%= link_to expense.expense_category.name, fetch_report_path(report_type: "expenses", cost_centerable: @cost_center.map(&:value), from: @from, to: @to, expense_category_id: expense.expense_category.id) %></td>
        <td><%= link_to expense.expense_sub_category.name, fetch_report_path(report_type: "expenses", cost_centerable: @cost_center.map(&:value), from: @from, to: @to, expense_sub_category_id: expense.expense_sub_category.id) %></td>
        <td><%= link_to expense.expense_type.name, fetch_report_path(report_type: "expenses", cost_centerable: @cost_center.map(&:value), from: @from, to: @to, expense_type_id: expense.expense_type.id) %></td>
        <td><%= expense.amount %></td>
        <td><%= link_to expense.cost_centerable.name, fetch_report_path(report_type: 'expenses', cost_centerable: [expense.cost_centerable.value], from: @from, to: @to) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
